<!doctype html>
<html>
<head>
  <title>Welcome | Create post</title>
</head>
<body>
  <p>Enter a search term that will show 9 related films</p>
  <form action="/calculate" method="POST">
  <input type = "text" name ="search_term" placeholder="Your word here">
  <button type="submit"> Submit Movie </button>  
</form>

</body>
</html>
