<h1>Movie Search Finished!!!</h1>

 <img src="<%= @movie2 %>" alt="Smiley face" height="140" width="142"> 

 <img src="<%= @movie3 %>" alt="Smiley face" height="140" width="142"> 

 <img src="<%= @movie2 %>" alt="Smiley face" height="140" width="142"> 



   

