<!-- views/add.erb -->
<!doctype html>
<html>
<head>
  <title>Welcome | Log in to your profile</title>  
</head>
<body>
<p>"Hello there "</p>
<form action="/user_name" method="GET">
<button type="submit" name="out" value="logout" > Log out </button>
</body>
</html>

