<!-- views/add.erb -->
<!doctype html>
<html>
<head>
  <title>Welcome | Log in to your profile</title>
</head>
<body>
  
  <h1>Log in to your profile</h1>
  
  <form action="/user_result" method="POST">
  <input = "string" name = "user_name" placeholder="user_name">
  <input = "number" name = "password" placeholder="password">
  <button type="submit"> Submit Info </button>  


</form>

</body>
</html>


