<!-- app/views/contacts/new.html.erb -->
  

<html>
  <head>
    <title>Helpdesk sample</title>

      <script src ="jquery.js" charset="utf-8"></script>
      <script src ="app.js" charset="utf-8"></script>
  </head>

  <body>
    <%= image_tag("logo2.png",:size => "250x100", :alt => "our logo") %>

    <h1>Welcome @user</h1>
     <form action="https://plus.google.com/hangouts/_" method = "GET">
    <!-- Add the form fields for Name, Occupation, and Weapon -->
       <input type="hidden" name="gid" value="1295"/>
       <select name = "gd">
         <option>Hangouts</option>
       </select>

      <input type="submit"/>
      
    </form>
  </body>

</html>



















<!-- *This is the form to add an address input from class  
<h1>Add a new contact</h1>
<form action="/contacts" method="POST">
  <div>
    <label for="contact_name">Name</label>
    <input type="text" name="contact[name]" id="contact_name">
  </div>

  <div>
    <label for="contact_address">Address</label>
    <textarea name="contact[address]" id="contact_address"></textarea>
  </div>

  <div>
    <label for="contact_phone">Phone number</label>
    <input type="tel" name="contact[phone]" id="contact_phone">
  </div>

  <div>
    <label for="contact_email">Email</label>
    <input type="email" name="contact[email]" id="contact_email">
  </div>
  <button type="submit">Add this contact</button>
   <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
</form> -->

