<!-- views/add.erb -->
<!doctype html>
<html>
<head>
  <title>Add | Online Calculator</title>
</head>
<body>
  
  <h1>Add</h1>
  
  <form action="/calculate_add" method="POST">
  <input = "number" name = "first_number" placeholder="1st number">+
  <input = "number" name = "second_number" placeholder="2nd number">
  <input = "method" name = "operator" placeholder="method">
  <button type="submit"> Calculate </button>  


</form>

</body>
</html>
