<!-- views/add.erb -->
<!doctype html>
<html>
<head>
  <title>Minus | Online Calculator</title>
</head>
<body>
  
  <h1>Minus</h1>
  
  <form action="/calculate_minus" method="POST">
  <input = "number" name = "first_number" placeholder="1st number">-
  <input = "number" name = "second_number" placeholder="2nd number">
  
<button type="submit"> Calculate </button>  

</form>

</body>
</html>
