<!doctype html>
<html>
<head>
  <title>Multiply | Online Calculator</title>
</head>
<body>
  
  <h1>Multiply</h1>
  
  <form action="/multi_result" method="POST">
  <button type="submit" name="operation" value="multiply">Multiply</button>
  <input = "number" name = "first_number" placeholder="1st number">*
  <input = "number" name = "second_number" placeholder="2nd number">
  
<!--<button type="submit"> Calculate </button>-->
</form> 


   <h1>Add</h1>
  <form action="/add_result" method="POST">
  <button type="submit" name="operation" value="add">Add</button>
  <input = "number" name = "first_number" placeholder="1st number">+
  <input = "number" name = "second_number" placeholder="2nd number">
  
<!--<button type="submit"> Calculate </button>-->
 </form>


  <h1>Divide</h1>
  <form action="/divide_result" method="POST">
  <button type="submit" name="operation" value="divide">Divide</button>
  <input = "number" name = "first_number" placeholder="1st number">/
  <input = "number" name = "second_number" placeholder="2nd number">
  </form>
 

 
  <h1>Minus</h1>
  
  <form action="/minus_result" method="POST">
  <button type="submit" name="operation" value="minus">Minus</button>
  <input = "number" name = "first_number" placeholder="1st number">-
  <input = "number" name = "second_number" placeholder="2nd number">
  </form>



</body>
</html>




