
<h1>Word Central</h1>

<h2>Submit text for inspection</h2>

<!-- ***** Updated ***** -->

<h1> Search form </h1>
<form action="/results" method="post">
  <input type="text" name="word" placeholder="Word here">
  <button type="submit">Add</button>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
