

<h1> Search form </h1>
<form action="/search" method="POST">
	<input type="text" name="film" placeholder="Film Search">
	<button type="submit">Add</button>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>