<!-- views/add.erb -->
<!doctype html>
<html>
<head>
  <title>Welcome | Create post</title>
</head>
<body>
  
  <h1>Create a new post</h1>
  
  <form action="/new_input/" method="POST">
  <input type = "text" name = "post_title" placeholder="post title">
  <input type = "text" name = "post_content" placeholder="post content">
 
  <button type="submit"> Submit Info </button>  


</form>

</body>
</html>
